body{

  /* margin  not appearing above your container*/
  margin: 0;
  font-size: 14;

  /* for not making your page scrollable */
  overflow: hidden;
}
/* here * is for including this particular thing 
in everything  and box-sizing border box property is for including your border's radius and properties inside that div section */
*{
  box-sizing: border-box;
}
.container{
  height: 100vh;
  border: 2px solid red;
}
.title-bar{
  height: 5vh;
  background-color: #107c41;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.menu-bar{
  height: 5vh;
  background-color:#107c41 ;
  display: flex;

}
.menu-item{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 19;
  display: flex;
  align-items: center;

}
.menu-item.selected{
  background-color: white;
  color: #107c41;
}
.menu-item:hover{
  background-color: #04160c;
  cursor: pointer;
}
.menu-item.selected:hover{
  background-color: white;
  cursor: default;
}
.menu-icon-bar{
  height: 5vh;
  display: flex;
  align-items: center;
  background-color: rgb(235, 228, 228);
}
.menu-icon{
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}
.font-family{
  font-size: 20px;
  width: 120px;
}
.font-size{
  font-size: 20px;
  width: 120px;
}
.menu-icon:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.formula-bar{
  height: 5vh;
}
.data-container{
  height: 75vh;
}
.sheet-bar{
  height: 5vh;
}
